{% extends 'base.html' %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('school_list') }}">Schools</a>
    </li>
{% endblock %}

{% block content %}
    {% raw %}
    <div ng-controller="schoolsController" class="snm-container container-fluid">
        <div class="row">
            <div class="col-12 col-md-4 col-xl-3 snm-school-list-sidebar">
                <p class="h5">Search for schools</p>
                <p >by name, suburb, postcode, etc</p>
                <input class="form-control" type="text" placeholder="Search..." ng-model="search">
            </div>
            <div class="col-12 col-md-8 col-xl-9 snm-school-list-content">
                <div id="snm-school-list-loading">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div ng-repeat="school in schools | filter:search | orderBy:'code' | limitTo:10" class="row snm-school-list-card my-3 mx-0">
                    <div class="col-12 col-md-4 snm-school-list-card-col1">
                        <img src="{{ school.logo }}" width="100" alt="{{ school.name }} logo">
                        <h6>{{ school.name }}</h6>
                    </div>
                    <div class="col-12 col-md-4">COL2</div>
                    <div class="col-12 col-md-4">COL3</div>
                </div>
            </div>
        </div>
    </div>
    {% endraw %}
{% endblock %}
